/**
 * @deprecated use appearance instead
 */
/*
Every max-width of breakpoint is equal:
next min-width - 60% from 1px (1/16 * 0.6 = 0.0375)
*/
@keyframes tuiReveal {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes tuiFadeIn {
  from {
    opacity: var(--tui-fade-start, 0);
  }
  to {
    opacity: var(--tui-fade-end, 1);
  }
}
html {
  block-size: 100%;
  /* stylelint-disable-next-line */
  font-size: 16px;
}
body {
  block-size: 100%;
  min-block-size: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  -webkit-overflow-scrolling: touch;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input,
button,
select,
textarea {
  font-family: inherit;
  color: inherit;
}
hr {
  margin: 0;
  block-size: 1px;
  border: none;
  background: var(--tui-border-normal);
}
iframe {
  border: none;
}
svg use {
  pointer-events: none;
}
::selection {
  background-color: var(--tui-service-selection-background);
}
::-ms-clear {
  display: none;
}
::-ms-reveal {
  display: none;
}
@supports (-webkit-hyphens: none) and (text-align-last: right) {
  /**
      * @descriptions:
      * Safari 16 has bug when for some reason,
      * the ::after blocks aren't removed
      * after the destruction of the parent class
     */
  ::after {
    content: none;
  }
}
/* stylelint-disable order/order */
.tui-container {
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 80em) {
  .tui-container.tui-container_adaptive {
    inline-size: 69rem;
  }
}
@media screen and (max-width: 79.9625em) {
  .tui-container.tui-container_adaptive {
    inline-size: 51.5rem;
  }
}
@media screen and (max-width: 47.9625em) {
  .tui-container.tui-container_adaptive {
    inline-size: 100%;
    padding: 0 1rem;
    box-sizing: border-box;
  }
}
@media screen and (min-width: 80em) {
  .tui-container {
    inline-size: 69rem;
  }
}
@media screen and (max-width: 79.9625em) {
  .tui-container {
    inline-size: 51.5rem;
    padding: 0 3rem;
  }
}
@media screen and (min-width: 80em) {
  .tui-container_menu {
    inline-size: 69rem;
  }
}
@media (min-width: 64em) and (max-width: 79.9625em) {
  .tui-container_menu {
    inline-size: 51.5rem;
  }
}
@media screen and (max-width: 47.9625em) {
  .tui-container_menu {
    inline-size: auto;
    padding: 0 1rem;
    box-sizing: border-box;
  }
}
.tui-container_fullwidth {
  inline-size: auto;
  padding: 0 1.5rem;
}
@media screen and (max-width: 47.9625em) {
  .tui-container_fullwidth {
    padding: 0 1rem;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 79.9625em) {
  .tui-container_fixed {
    inline-size: 69rem;
  }
}
/* stylelint-enable order/order */
.tui-form {
  /* stylelint-disable */
  /* stylelint-enable */
}
.tui-form__header {
  font: var(--tui-font-heading-5);
  margin-top: 2rem;
  margin-bottom: 1.25rem;
}
@media screen and (max-width: 47.9625em) {
  .tui-form__header {
    font: var(--tui-font-text-l);
    font-weight: bold;
    margin-bottom: 1rem;
  }
}
.tui-form__header_margin-top_none {
  margin-top: 0;
}
.tui-form__header_margin-bottom_none {
  margin-bottom: 0;
}
.tui-form__header_margin-bottom_small {
  margin-bottom: 1rem;
}
@media screen and (max-width: 47.9625em) {
  .tui-form__header_margin-bottom_small {
    margin-bottom: 0.75rem;
  }
}
.tui-form__row {
  margin-top: 1.25rem;
}
.tui-form__row:first-child {
  margin-top: 0;
}
.tui-form__row_multi-fields {
  display: flex;
}
@media screen and (max-width: 47.9625em) {
  .tui-form__row_multi-fields {
    flex-wrap: wrap;
  }
}
.tui-form__row_half-width {
  inline-size: calc(50% - (1.25rem / 2));
}
@media screen and (max-width: 47.9625em) {
  .tui-form__row_half-width {
    inline-size: 100%;
  }
}
.tui-form__row_checkboxes {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 47.9625em) {
  .tui-form__row {
    margin-top: 1rem;
  }
}
.tui-form__multi-field {
  flex: 1 1 0;
  min-inline-size: 0;
  margin-left: 1.25rem;
}
.tui-form__multi-field:first-child {
  margin-left: 0;
}
@media screen and (max-width: 47.9625em) {
  .tui-form__multi-field {
    flex-basis: 100%;
    margin-top: 1rem;
    margin-left: 0;
  }
  .tui-form__multi-field:first-child {
    margin-top: 0;
  }
}
.tui-form__field-note {
  font: var(--tui-font-text-s);
  margin-top: 0.25rem;
  color: var(--tui-text-secondary);
}
.tui-form__field-checkbox {
  margin-top: 0.5rem;
}
.tui-form__checkbox {
  flex: 1 1 calc(50% - 0.625rem);
}
.tui-form__checkbox:nth-child(even) {
  margin-left: 1.25rem;
}
.tui-form__checkbox:nth-child(n + 3) {
  margin-top: 1rem;
}
.tui-form__buttons {
  display: flex;
  margin-top: 2rem;
}
.tui-form__buttons_align_end {
  justify-content: flex-end;
}
.tui-form__buttons_align_center {
  justify-content: center;
}
@media screen and (max-width: 47.9625em) {
  .tui-form__buttons {
    flex-direction: column;
    margin-top: 1.5rem;
  }
}
.tui-form__button {
  margin-left: 0.75rem;
}
.tui-form__button:first-child {
  margin-left: 0;
}
@media screen and (max-width: 47.9625em) {
  .tui-form__button {
    margin-top: 0.5rem;
    margin-left: 0;
  }
}
.tui-island {
  position: relative;
  display: block;
  border-radius: var(--tui-radius-xl);
  background-color: var(--tui-background-base);
  overflow-wrap: break-word;
  text-decoration: none;
  color: var(--tui-text-primary);
  outline: none;
  box-sizing: content-box;
}
.tui-island:not(.tui-island_hoverable)::before {
  position: absolute;
  top: 0;
  left: 0;
  inline-size: 100%;
  block-size: 100%;
  content: '';
  box-sizing: border-box;
  border: 1px solid var(--tui-border-normal);
  border-radius: inherit;
  pointer-events: none;
}
.tui-island:focus::before,
.tui-island:hover:focus::before {
  border-color: var(--tui-border-focus);
}
.tui-island_hoverable {
  transition-property: all;
  transition-duration: var(--tui-duration, 300ms);
  transition-timing-function: ease-in-out;
  background: var(--tui-background-elevation-2);
  box-shadow: var(--tui-shadow-small);
  cursor: pointer;
  transition-property: transform, box-shadow;
  will-change: transform, box-shadow;
}
.tui-island_hoverable:hover {
  box-shadow: var(--tui-shadow-small-hover);
  transform: translateY(-0.25rem);
}
.tui-island_transparent {
  background-color: transparent;
}
.tui-island_size_s {
  --tui-radius-xl: calc(4 * var(--tui-radius-l) / 3);
  font: var(--tui-font-text-s);
  padding: 1rem;
}
.tui-island_size_m {
  --tui-radius-xl: calc(5 * var(--tui-radius-l) / 3);
  font: var(--tui-font-text-m);
  padding: 1rem;
}
.tui-island_size_l {
  font: var(--tui-font-text-m);
  padding: 1.25rem;
}
.tui-island_text-align_left {
  text-align: start;
}
.tui-island_text-align_center {
  text-align: center;
}
.tui-island_text-align_right {
  text-align: end;
}
.tui-island__content {
  display: flex;
  justify-content: space-between;
}
.tui-island_text-align_center .tui-island__content {
  display: block;
}
.tui-island__content > * {
  min-inline-size: 0;
}
.tui-island__category {
  font-size: 0.6875rem;
  line-height: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  margin: 0 0 0.5rem;
  color: var(--tui-text-secondary);
}
.tui-island_size_l .tui-island__category {
  margin: 0 0 0.75rem;
}
.tui-island__title {
  font: var(--tui-font-text-m);
  margin: 0 0 0.5rem;
}
.tui-island_size_m .tui-island__title {
  font: var(--tui-font-heading-6);
  margin: 0 0 0.75rem;
}
.tui-island_size_l .tui-island__title {
  font: var(--tui-font-heading-6);
}
.tui-island__paragraph {
  margin: 0;
  color: var(--tui-text-secondary);
}
.tui-island__paragraph_link.tui-island__paragraph {
  margin-top: 1rem;
}
.tui-island_size_l .tui-island__paragraph_link.tui-island__paragraph {
  margin: 1rem 0 0;
}
.tui-island__paragraph_button.tui-island__paragraph {
  margin-top: 1.25rem;
}
.tui-island_size_l .tui-island__paragraph_button.tui-island__paragraph {
  margin: 1.25rem 0 0;
}
.tui-island__figure {
  display: flex;
  justify-content: center;
  order: 1;
  flex-shrink: 0;
  margin: 0 0 0 1rem;
}
.tui-island_size_l .tui-island__figure {
  margin-left: 2.25rem;
}
.tui-island_text-align_center .tui-island__figure {
  margin: 0 0 0.75rem;
}
.tui-island__carousel-controls {
  display: flex;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-block-end: 1px solid var(--tui-border-normal);
  white-space: nowrap;
}
.tui-island__carousel-pages {
  margin-left: auto;
  color: var(--tui-text-secondary);
}
.tui-island__carousel-button {
  margin-right: 0.5rem;
}
.tui-island .tui-island__footer-button {
  display: block;
  max-inline-size: unset;
  inline-size: calc(100% + 1.875rem);;
  margin: 1rem calc(-1rem + 1px) calc(-1rem + 1px);
  border-block-start: 1px solid var(--tui-border-normal);
  border-radius: 0 0 var(--tui-radius-xl) var(--tui-radius-xl);
}
.tui-island_size_l .tui-island__footer-button {
  inline-size: calc(100% + 2.375rem);;
  margin: 1.25rem calc(-1.25rem + 1px) calc(-1.25rem + 1px);
}
.tui-island__marker:first-child:not(:only-child) {
  margin-right: 1.25rem;
}
.tui-island__marker:not(:first-child),
.tui-island__marker:only-child {
  margin-left: 1.25rem;
}
.tui-list {
  font: var(--tui-font-text-m);
  line-height: 1.5rem;
  list-style-type: none;
  color: var(--tui-text-primary);
}
.tui-list_large {
  font: var(--tui-font-text-l);
  line-height: 1.75rem;
}
.tui-list_small,
.tui-list_extra-small {
  font: var(--tui-font-text-s);
  line-height: 1.25rem;
}
.tui-list_nested {
  margin: 0.75rem 0 0.75rem 1.25rem;
  color: var(--tui-text-secondary);
}
.tui-list_large .tui-list_nested {
  margin-left: 0.75rem;
}
.tui-list_small .tui-list_nested {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.tui-list_ordered {
  counter-reset: counter;
}
.tui-list__item {
  position: relative;
  padding-left: 1.5rem;
  overflow-wrap: break-word;
  margin-top: 0.75rem;
}
.tui-list__item:first-child {
  margin-top: 0;
}
.tui-list__item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0.5rem;
  inline-size: 0.5rem;
  block-size: 0.5rem;
  border-radius: 100%;
  background-color: var(--tui-background-accent-1);
}
.tui-list_large > .tui-list__item::before {
  top: 0.625rem;
}
.tui-list_small > .tui-list__item::before {
  top: 0.375rem;
}
.tui-list_extra-small > .tui-list__item {
  margin-top: 0.5rem;
}
.tui-list_linear .tui-list__item {
  padding-left: 1.75rem;
}
.tui-list_linear .tui-list__item::before {
  content: '\2014';
  left: 0;
  top: auto;
  inline-size: auto;
  block-size: auto;
  background-color: transparent;
}
.tui-list_ordered .tui-list__item {
  padding-left: 1.25rem;
}
.tui-list_ordered .tui-list__item::before {
  content: counter(counter) '.';
  left: 0;
  top: auto;
  counter-increment: counter;
  inline-size: auto;
  block-size: auto;
  color: var(--tui-text-tertiary);
  background-color: transparent;
}
.tui-list_triangle > .tui-list__item {
  padding-left: 1.75rem;
}
.tui-list_triangle > .tui-list__item::before {
  content: '\25E4';
  left: 0;
  top: 1px;
  inline-size: auto;
  block-size: auto;
  background-color: transparent;
  color: var(--tui-text-tertiary);
  font-size: 0.75rem;
}
.tui-list__item-title {
  font: var(--tui-font-heading-5);
  margin: 0;
}
.tui-list_small .tui-list__item-title {
  line-height: 1.25rem;
  font-weight: bold;
}
.tui-list__description {
  margin: 0.5rem 0 0;
  color: var(--tui-text-secondary);
}
.tui-list_small .tui-list__description {
  margin-top: 0.25rem;
}
.tui-list_large .tui-list__description {
  line-height: 1.75rem;
  margin-top: 0.75rem;
}
@media not screen and (max-width: 47.9625em) {
  .tui-mobile-only {
    display: none !important;
  }
}
.tui-required::after {
  content: '*';
}
.tui-required_float::after {
  position: absolute;
}
.tui-required_spacing::after {
  content: '\0000a0*';
}
/* stylelint-disable order/order */
/* stylelint-enable order/order */
.tui-row {
  display: flex;
  flex-wrap: wrap;
}
.tui-row_align_center {
  align-items: center;
}
.tui-row_align_start {
  align-items: flex-start;
}
.tui-row_align_end {
  align-items: flex-end;
}
@media screen and (min-width: 80em) {
  .tui-row_adaptive.tui-row {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
}
@media screen and (max-width: 79.9625em) {
  .tui-row_adaptive.tui-row {
    margin-left: -1.25rem;
    margin-right: -1.25rem;
  }
}
@media screen and (max-width: 47.9625em) {
  .tui-row_adaptive.tui-row {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
}
.tui-row_temporary.tui-row {
  margin-left: -1.25rem;
  margin-right: -1.25rem;
}
@media screen and (min-width: 80em) {
  .tui-row {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
}
@media screen and (max-width: 79.9625em) {
  .tui-row {
    margin-left: -1.25rem;
    margin-right: -1.25rem;
  }
}
.tui-col_1 {
  inline-size: 8.33333333%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  box-sizing: border-box;
}
.tui-col_2 {
  inline-size: 16.66666667%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  box-sizing: border-box;
}
.tui-col_3 {
  inline-size: 25%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  box-sizing: border-box;
}
.tui-col_4 {
  inline-size: 33.33333333%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  box-sizing: border-box;
}
.tui-col_5 {
  inline-size: 41.66666667%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  box-sizing: border-box;
}
.tui-col_6 {
  inline-size: 50%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  box-sizing: border-box;
}
.tui-col_7 {
  inline-size: 58.33333333%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  box-sizing: border-box;
}
.tui-col_8 {
  inline-size: 66.66666667%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  box-sizing: border-box;
}
.tui-col_9 {
  inline-size: 75%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  box-sizing: border-box;
}
.tui-col_10 {
  inline-size: 83.33333333%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  box-sizing: border-box;
}
.tui-col_11 {
  inline-size: 91.66666667%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  box-sizing: border-box;
}
.tui-col_12 {
  inline-size: 100%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  box-sizing: border-box;
}
.tui-col_md-1 {
  inline-size: 8.33333333%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  box-sizing: border-box;
}
.tui-col_md-2 {
  inline-size: 16.66666667%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  box-sizing: border-box;
}
.tui-col_md-3 {
  inline-size: 25%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  box-sizing: border-box;
}
.tui-col_md-4 {
  inline-size: 33.33333333%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  box-sizing: border-box;
}
.tui-col_md-5 {
  inline-size: 41.66666667%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  box-sizing: border-box;
}
.tui-col_md-6 {
  inline-size: 50%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  box-sizing: border-box;
}
.tui-col_md-7 {
  inline-size: 58.33333333%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  box-sizing: border-box;
}
.tui-col_md-8 {
  inline-size: 66.66666667%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  box-sizing: border-box;
}
.tui-col_md-9 {
  inline-size: 75%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  box-sizing: border-box;
}
.tui-col_md-10 {
  inline-size: 83.33333333%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  box-sizing: border-box;
}
.tui-col_md-11 {
  inline-size: 91.66666667%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  box-sizing: border-box;
}
.tui-col_md-12 {
  inline-size: 100%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  box-sizing: border-box;
}
.tui-col_stretch {
  display: flex;
}
@media screen and (min-width: 80em) {
  .tui-row_adaptive .tui-col_lg-1 {
    inline-size: 8.33333333%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    box-sizing: border-box;
  }
  .tui-row_adaptive .tui-col_lg-2 {
    inline-size: 16.66666667%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    box-sizing: border-box;
  }
  .tui-row_adaptive .tui-col_lg-3 {
    inline-size: 25%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    box-sizing: border-box;
  }
  .tui-row_adaptive .tui-col_lg-4 {
    inline-size: 33.33333333%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    box-sizing: border-box;
  }
  .tui-row_adaptive .tui-col_lg-5 {
    inline-size: 41.66666667%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    box-sizing: border-box;
  }
  .tui-row_adaptive .tui-col_lg-6 {
    inline-size: 50%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    box-sizing: border-box;
  }
  .tui-row_adaptive .tui-col_lg-7 {
    inline-size: 58.33333333%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    box-sizing: border-box;
  }
  .tui-row_adaptive .tui-col_lg-8 {
    inline-size: 66.66666667%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    box-sizing: border-box;
  }
  .tui-row_adaptive .tui-col_lg-9 {
    inline-size: 75%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    box-sizing: border-box;
  }
  .tui-row_adaptive .tui-col_lg-10 {
    inline-size: 83.33333333%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    box-sizing: border-box;
  }
  .tui-row_adaptive .tui-col_lg-11 {
    inline-size: 91.66666667%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    box-sizing: border-box;
  }
  .tui-row_adaptive .tui-col_lg-12 {
    inline-size: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 79.9625em) {
  .tui-row_adaptive .tui-col_md-1 {
    inline-size: 8.33333333%;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    box-sizing: border-box;
  }
  .tui-row_adaptive .tui-col_md-2 {
    inline-size: 16.66666667%;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    box-sizing: border-box;
  }
  .tui-row_adaptive .tui-col_md-3 {
    inline-size: 25%;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    box-sizing: border-box;
  }
  .tui-row_adaptive .tui-col_md-4 {
    inline-size: 33.33333333%;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    box-sizing: border-box;
  }
  .tui-row_adaptive .tui-col_md-5 {
    inline-size: 41.66666667%;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    box-sizing: border-box;
  }
  .tui-row_adaptive .tui-col_md-6 {
    inline-size: 50%;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    box-sizing: border-box;
  }
  .tui-row_adaptive .tui-col_md-7 {
    inline-size: 58.33333333%;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    box-sizing: border-box;
  }
  .tui-row_adaptive .tui-col_md-8 {
    inline-size: 66.66666667%;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    box-sizing: border-box;
  }
  .tui-row_adaptive .tui-col_md-9 {
    inline-size: 75%;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    box-sizing: border-box;
  }
  .tui-row_adaptive .tui-col_md-10 {
    inline-size: 83.33333333%;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    box-sizing: border-box;
  }
  .tui-row_adaptive .tui-col_md-11 {
    inline-size: 91.66666667%;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    box-sizing: border-box;
  }
  .tui-row_adaptive .tui-col_md-12 {
    inline-size: 100%;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 47.9625em) {
  .tui-row_adaptive .tui-col_xs-1 {
    inline-size: 8.33333333%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    box-sizing: border-box;
  }
  .tui-row_adaptive .tui-col_xs-2 {
    inline-size: 16.66666667%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    box-sizing: border-box;
  }
  .tui-row_adaptive .tui-col_xs-3 {
    inline-size: 25%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    box-sizing: border-box;
  }
  .tui-row_adaptive .tui-col_xs-4 {
    inline-size: 33.33333333%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    box-sizing: border-box;
  }
  .tui-row_adaptive .tui-col_xs-5 {
    inline-size: 41.66666667%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    box-sizing: border-box;
  }
  .tui-row_adaptive .tui-col_xs-6 {
    inline-size: 50%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    box-sizing: border-box;
  }
  .tui-row_adaptive .tui-col_xs-7 {
    inline-size: 58.33333333%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    box-sizing: border-box;
  }
  .tui-row_adaptive .tui-col_xs-8 {
    inline-size: 66.66666667%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    box-sizing: border-box;
  }
  .tui-row_adaptive .tui-col_xs-9 {
    inline-size: 75%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    box-sizing: border-box;
  }
  .tui-row_adaptive .tui-col_xs-10 {
    inline-size: 83.33333333%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    box-sizing: border-box;
  }
  .tui-row_adaptive .tui-col_xs-11 {
    inline-size: 91.66666667%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    box-sizing: border-box;
  }
  .tui-row_adaptive .tui-col_xs-12 {
    inline-size: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    box-sizing: border-box;
  }
}
.tui-row_temporary .tui-col_1 {
  inline-size: 8.33333333%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  box-sizing: border-box;
}
.tui-row_temporary .tui-col_2 {
  inline-size: 16.66666667%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  box-sizing: border-box;
}
.tui-row_temporary .tui-col_3 {
  inline-size: 25%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  box-sizing: border-box;
}
.tui-row_temporary .tui-col_4 {
  inline-size: 33.33333333%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  box-sizing: border-box;
}
.tui-row_temporary .tui-col_5 {
  inline-size: 41.66666667%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  box-sizing: border-box;
}
.tui-row_temporary .tui-col_6 {
  inline-size: 50%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  box-sizing: border-box;
}
.tui-row_temporary .tui-col_7 {
  inline-size: 58.33333333%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  box-sizing: border-box;
}
.tui-row_temporary .tui-col_8 {
  inline-size: 66.66666667%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  box-sizing: border-box;
}
.tui-row_temporary .tui-col_9 {
  inline-size: 75%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  box-sizing: border-box;
}
.tui-row_temporary .tui-col_10 {
  inline-size: 83.33333333%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  box-sizing: border-box;
}
.tui-row_temporary .tui-col_11 {
  inline-size: 91.66666667%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  box-sizing: border-box;
}
.tui-row_temporary .tui-col_12 {
  inline-size: 100%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  box-sizing: border-box;
}
@media screen and (min-width: 80em) {
  .tui-col_1 {
    inline-size: 8.33333333%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    box-sizing: border-box;
  }
  .tui-col_2 {
    inline-size: 16.66666667%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    box-sizing: border-box;
  }
  .tui-col_3 {
    inline-size: 25%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    box-sizing: border-box;
  }
  .tui-col_4 {
    inline-size: 33.33333333%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    box-sizing: border-box;
  }
  .tui-col_5 {
    inline-size: 41.66666667%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    box-sizing: border-box;
  }
  .tui-col_6 {
    inline-size: 50%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    box-sizing: border-box;
  }
  .tui-col_7 {
    inline-size: 58.33333333%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    box-sizing: border-box;
  }
  .tui-col_8 {
    inline-size: 66.66666667%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    box-sizing: border-box;
  }
  .tui-col_9 {
    inline-size: 75%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    box-sizing: border-box;
  }
  .tui-col_10 {
    inline-size: 83.33333333%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    box-sizing: border-box;
  }
  .tui-col_11 {
    inline-size: 91.66666667%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    box-sizing: border-box;
  }
  .tui-col_12 {
    inline-size: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    box-sizing: border-box;
  }
}
.tui-col-offset_1 {
  margin-left: 8.33333333%;
}
.tui-col-offset_2 {
  margin-left: 16.66666667%;
}
.tui-col-offset_3 {
  margin-left: 25%;
}
.tui-col-offset_4 {
  margin-left: 33.33333333%;
}
.tui-col-offset_5 {
  margin-left: 41.66666667%;
}
.tui-col-offset_6 {
  margin-left: 50%;
}
.tui-col-offset_7 {
  margin-left: 58.33333333%;
}
.tui-col-offset_8 {
  margin-left: 66.66666667%;
}
.tui-col-offset_9 {
  margin-left: 75%;
}
.tui-col-offset_10 {
  margin-left: 83.33333333%;
}
.tui-col-offset_11 {
  margin-left: 91.66666667%;
}
.tui-col-offset_12 {
  margin-left: 100%;
}
@media (min-width: 22.5em) and (max-width: 47.9625em) {
  .tui-col-offset_xs-1 {
    margin-left: 8.33333333%;
  }
  .tui-col-offset_xs-2 {
    margin-left: 16.66666667%;
  }
  .tui-col-offset_xs-3 {
    margin-left: 25%;
  }
  .tui-col-offset_xs-4 {
    margin-left: 33.33333333%;
  }
  .tui-col-offset_xs-5 {
    margin-left: 41.66666667%;
  }
  .tui-col-offset_xs-6 {
    margin-left: 50%;
  }
  .tui-col-offset_xs-7 {
    margin-left: 58.33333333%;
  }
  .tui-col-offset_xs-8 {
    margin-left: 66.66666667%;
  }
  .tui-col-offset_xs-9 {
    margin-left: 75%;
  }
  .tui-col-offset_xs-10 {
    margin-left: 83.33333333%;
  }
  .tui-col-offset_xs-11 {
    margin-left: 91.66666667%;
  }
  .tui-col-offset_xs-12 {
    margin-left: 100%;
  }
}
@media screen and (max-width: 79.9625em) {
  .tui-col-offset_md-1 {
    margin-left: 8.33333333%;
  }
  .tui-col-offset_md-2 {
    margin-left: 16.66666667%;
  }
  .tui-col-offset_md-3 {
    margin-left: 25%;
  }
  .tui-col-offset_md-4 {
    margin-left: 33.33333333%;
  }
  .tui-col-offset_md-5 {
    margin-left: 41.66666667%;
  }
  .tui-col-offset_md-6 {
    margin-left: 50%;
  }
  .tui-col-offset_md-7 {
    margin-left: 58.33333333%;
  }
  .tui-col-offset_md-8 {
    margin-left: 66.66666667%;
  }
  .tui-col-offset_md-9 {
    margin-left: 75%;
  }
  .tui-col-offset_md-10 {
    margin-left: 83.33333333%;
  }
  .tui-col-offset_md-11 {
    margin-left: 91.66666667%;
  }
  .tui-col-offset_md-12 {
    margin-left: 100%;
  }
}
@media screen and (min-width: 80em) {
  .tui-col-offset_lg-1 {
    margin-left: 8.33333333%;
  }
  .tui-col-offset_lg-2 {
    margin-left: 16.66666667%;
  }
  .tui-col-offset_lg-3 {
    margin-left: 25%;
  }
  .tui-col-offset_lg-4 {
    margin-left: 33.33333333%;
  }
  .tui-col-offset_lg-5 {
    margin-left: 41.66666667%;
  }
  .tui-col-offset_lg-6 {
    margin-left: 50%;
  }
  .tui-col-offset_lg-7 {
    margin-left: 58.33333333%;
  }
  .tui-col-offset_lg-8 {
    margin-left: 66.66666667%;
  }
  .tui-col-offset_lg-9 {
    margin-left: 75%;
  }
  .tui-col-offset_lg-10 {
    margin-left: 83.33333333%;
  }
  .tui-col-offset_lg-11 {
    margin-left: 91.66666667%;
  }
  .tui-col-offset_lg-12 {
    margin-left: 100%;
  }
}
.tui-skeleton {
  position: relative;
  color: transparent !important;
  background: transparent !important;
  pointer-events: none;
  user-select: none;
}
.tui-skeleton::after {
  position: absolute;
  top: 0;
  left: 0;
  inline-size: 100%;
  block-size: 100%;
  content: '';
  background-color: var(--tui-background-neutral-2);
  animation: tuiSkeletonVibe ease-in-out 1s infinite alternate;
  border-radius: var(--tui-skeleton-radius, 0);
}
.tui-skeleton_light::after {
  background-color: rgba(255, 255, 255, 0.24);
}
.tui-skeleton_rounded::after {
  border-radius: inherit;
}
.tui-skeleton_short::after {
  inline-size: 40%;
}
.tui-skeleton_center::after {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  inline-size: 40%;
}
.tui-skeleton_text::before {
  content: '\a0';
}
.tui-skeleton * {
  opacity: 0;
  visibility: hidden;
}
.tui-space_all-16.tui-space_all-16 {
  margin: 4rem;
}
.tui-space_all-15.tui-space_all-15 {
  margin: 3.75rem;
}
.tui-space_all-14.tui-space_all-14 {
  margin: 3.5rem;
}
.tui-space_all-13.tui-space_all-13 {
  margin: 3.25rem;
}
.tui-space_all-12.tui-space_all-12 {
  margin: 3rem;
}
.tui-space_all-11.tui-space_all-11 {
  margin: 2.75rem;
}
.tui-space_all-10.tui-space_all-10 {
  margin: 2.5rem;
}
.tui-space_all-9.tui-space_all-9 {
  margin: 2.25rem;
}
.tui-space_all-8.tui-space_all-8 {
  margin: 2rem;
}
.tui-space_all-7.tui-space_all-7 {
  margin: 1.75rem;
}
.tui-space_all-6.tui-space_all-6 {
  margin: 1.5rem;
}
.tui-space_all-5.tui-space_all-5 {
  margin: 1.25rem;
}
.tui-space_all-4.tui-space_all-4 {
  margin: 1rem;
}
.tui-space_all-3.tui-space_all-3 {
  margin: 0.75rem;
}
.tui-space_all-2.tui-space_all-2 {
  margin: 0.5rem;
}
.tui-space_all-1.tui-space_all-1 {
  margin: 0.25rem;
}
.tui-space_all-0.tui-space_all-0 {
  margin: 0rem;
}
.tui-space_top-16.tui-space_top-16 {
  margin-top: 4rem;
}
.tui-space_top-15.tui-space_top-15 {
  margin-top: 3.75rem;
}
.tui-space_top-14.tui-space_top-14 {
  margin-top: 3.5rem;
}
.tui-space_top-13.tui-space_top-13 {
  margin-top: 3.25rem;
}
.tui-space_top-12.tui-space_top-12 {
  margin-top: 3rem;
}
.tui-space_top-11.tui-space_top-11 {
  margin-top: 2.75rem;
}
.tui-space_top-10.tui-space_top-10 {
  margin-top: 2.5rem;
}
.tui-space_top-9.tui-space_top-9 {
  margin-top: 2.25rem;
}
.tui-space_top-8.tui-space_top-8 {
  margin-top: 2rem;
}
.tui-space_top-7.tui-space_top-7 {
  margin-top: 1.75rem;
}
.tui-space_top-6.tui-space_top-6 {
  margin-top: 1.5rem;
}
.tui-space_top-5.tui-space_top-5 {
  margin-top: 1.25rem;
}
.tui-space_top-4.tui-space_top-4 {
  margin-top: 1rem;
}
.tui-space_top-3.tui-space_top-3 {
  margin-top: 0.75rem;
}
.tui-space_top-2.tui-space_top-2 {
  margin-top: 0.5rem;
}
.tui-space_top-1.tui-space_top-1 {
  margin-top: 0.25rem;
}
.tui-space_top-0.tui-space_top-0 {
  margin-top: 0rem;
}
.tui-space_bottom-16.tui-space_bottom-16 {
  margin-bottom: 4rem;
}
.tui-space_bottom-15.tui-space_bottom-15 {
  margin-bottom: 3.75rem;
}
.tui-space_bottom-14.tui-space_bottom-14 {
  margin-bottom: 3.5rem;
}
.tui-space_bottom-13.tui-space_bottom-13 {
  margin-bottom: 3.25rem;
}
.tui-space_bottom-12.tui-space_bottom-12 {
  margin-bottom: 3rem;
}
.tui-space_bottom-11.tui-space_bottom-11 {
  margin-bottom: 2.75rem;
}
.tui-space_bottom-10.tui-space_bottom-10 {
  margin-bottom: 2.5rem;
}
.tui-space_bottom-9.tui-space_bottom-9 {
  margin-bottom: 2.25rem;
}
.tui-space_bottom-8.tui-space_bottom-8 {
  margin-bottom: 2rem;
}
.tui-space_bottom-7.tui-space_bottom-7 {
  margin-bottom: 1.75rem;
}
.tui-space_bottom-6.tui-space_bottom-6 {
  margin-bottom: 1.5rem;
}
.tui-space_bottom-5.tui-space_bottom-5 {
  margin-bottom: 1.25rem;
}
.tui-space_bottom-4.tui-space_bottom-4 {
  margin-bottom: 1rem;
}
.tui-space_bottom-3.tui-space_bottom-3 {
  margin-bottom: 0.75rem;
}
.tui-space_bottom-2.tui-space_bottom-2 {
  margin-bottom: 0.5rem;
}
.tui-space_bottom-1.tui-space_bottom-1 {
  margin-bottom: 0.25rem;
}
.tui-space_bottom-0.tui-space_bottom-0 {
  margin-bottom: 0rem;
}
.tui-space_vertical-16.tui-space_vertical-16 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.tui-space_vertical-15.tui-space_vertical-15 {
  margin-top: 3.75rem;
  margin-bottom: 3.75rem;
}
.tui-space_vertical-14.tui-space_vertical-14 {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}
.tui-space_vertical-13.tui-space_vertical-13 {
  margin-top: 3.25rem;
  margin-bottom: 3.25rem;
}
.tui-space_vertical-12.tui-space_vertical-12 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.tui-space_vertical-11.tui-space_vertical-11 {
  margin-top: 2.75rem;
  margin-bottom: 2.75rem;
}
.tui-space_vertical-10.tui-space_vertical-10 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.tui-space_vertical-9.tui-space_vertical-9 {
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
}
.tui-space_vertical-8.tui-space_vertical-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.tui-space_vertical-7.tui-space_vertical-7 {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}
.tui-space_vertical-6.tui-space_vertical-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.tui-space_vertical-5.tui-space_vertical-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
.tui-space_vertical-4.tui-space_vertical-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.tui-space_vertical-3.tui-space_vertical-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
.tui-space_vertical-2.tui-space_vertical-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.tui-space_vertical-1.tui-space_vertical-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.tui-space_vertical-0.tui-space_vertical-0 {
  margin-top: 0rem;
  margin-bottom: 0rem;
}
.tui-space_left-16.tui-space_left-16 {
  margin-left: 4rem;
}
.tui-space_left-15.tui-space_left-15 {
  margin-left: 3.75rem;
}
.tui-space_left-14.tui-space_left-14 {
  margin-left: 3.5rem;
}
.tui-space_left-13.tui-space_left-13 {
  margin-left: 3.25rem;
}
.tui-space_left-12.tui-space_left-12 {
  margin-left: 3rem;
}
.tui-space_left-11.tui-space_left-11 {
  margin-left: 2.75rem;
}
.tui-space_left-10.tui-space_left-10 {
  margin-left: 2.5rem;
}
.tui-space_left-9.tui-space_left-9 {
  margin-left: 2.25rem;
}
.tui-space_left-8.tui-space_left-8 {
  margin-left: 2rem;
}
.tui-space_left-7.tui-space_left-7 {
  margin-left: 1.75rem;
}
.tui-space_left-6.tui-space_left-6 {
  margin-left: 1.5rem;
}
.tui-space_left-5.tui-space_left-5 {
  margin-left: 1.25rem;
}
.tui-space_left-4.tui-space_left-4 {
  margin-left: 1rem;
}
.tui-space_left-3.tui-space_left-3 {
  margin-left: 0.75rem;
}
.tui-space_left-2.tui-space_left-2 {
  margin-left: 0.5rem;
}
.tui-space_left-1.tui-space_left-1 {
  margin-left: 0.25rem;
}
.tui-space_left-0.tui-space_left-0 {
  margin-left: 0rem;
}
.tui-space_right-16.tui-space_right-16 {
  margin-right: 4rem;
}
.tui-space_right-15.tui-space_right-15 {
  margin-right: 3.75rem;
}
.tui-space_right-14.tui-space_right-14 {
  margin-right: 3.5rem;
}
.tui-space_right-13.tui-space_right-13 {
  margin-right: 3.25rem;
}
.tui-space_right-12.tui-space_right-12 {
  margin-right: 3rem;
}
.tui-space_right-11.tui-space_right-11 {
  margin-right: 2.75rem;
}
.tui-space_right-10.tui-space_right-10 {
  margin-right: 2.5rem;
}
.tui-space_right-9.tui-space_right-9 {
  margin-right: 2.25rem;
}
.tui-space_right-8.tui-space_right-8 {
  margin-right: 2rem;
}
.tui-space_right-7.tui-space_right-7 {
  margin-right: 1.75rem;
}
.tui-space_right-6.tui-space_right-6 {
  margin-right: 1.5rem;
}
.tui-space_right-5.tui-space_right-5 {
  margin-right: 1.25rem;
}
.tui-space_right-4.tui-space_right-4 {
  margin-right: 1rem;
}
.tui-space_right-3.tui-space_right-3 {
  margin-right: 0.75rem;
}
.tui-space_right-2.tui-space_right-2 {
  margin-right: 0.5rem;
}
.tui-space_right-1.tui-space_right-1 {
  margin-right: 0.25rem;
}
.tui-space_right-0.tui-space_right-0 {
  margin-right: 0rem;
}
.tui-space_horizontal-16.tui-space_horizontal-16 {
  margin-right: 4rem;
  margin-left: 4rem;
}
.tui-space_horizontal-15.tui-space_horizontal-15 {
  margin-right: 3.75rem;
  margin-left: 3.75rem;
}
.tui-space_horizontal-14.tui-space_horizontal-14 {
  margin-right: 3.5rem;
  margin-left: 3.5rem;
}
.tui-space_horizontal-13.tui-space_horizontal-13 {
  margin-right: 3.25rem;
  margin-left: 3.25rem;
}
.tui-space_horizontal-12.tui-space_horizontal-12 {
  margin-right: 3rem;
  margin-left: 3rem;
}
.tui-space_horizontal-11.tui-space_horizontal-11 {
  margin-right: 2.75rem;
  margin-left: 2.75rem;
}
.tui-space_horizontal-10.tui-space_horizontal-10 {
  margin-right: 2.5rem;
  margin-left: 2.5rem;
}
.tui-space_horizontal-9.tui-space_horizontal-9 {
  margin-right: 2.25rem;
  margin-left: 2.25rem;
}
.tui-space_horizontal-8.tui-space_horizontal-8 {
  margin-right: 2rem;
  margin-left: 2rem;
}
.tui-space_horizontal-7.tui-space_horizontal-7 {
  margin-right: 1.75rem;
  margin-left: 1.75rem;
}
.tui-space_horizontal-6.tui-space_horizontal-6 {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}
.tui-space_horizontal-5.tui-space_horizontal-5 {
  margin-right: 1.25rem;
  margin-left: 1.25rem;
}
.tui-space_horizontal-4.tui-space_horizontal-4 {
  margin-right: 1rem;
  margin-left: 1rem;
}
.tui-space_horizontal-3.tui-space_horizontal-3 {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}
.tui-space_horizontal-2.tui-space_horizontal-2 {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}
.tui-space_horizontal-1.tui-space_horizontal-1 {
  margin-right: 0.25rem;
  margin-left: 0.25rem;
}
.tui-space_horizontal-0.tui-space_horizontal-0 {
  margin-right: 0rem;
  margin-left: 0rem;
}
.tui-space_auto {
  margin-left: auto;
  margin-right: auto;
}
.tui-table {
  inline-size: 100%;
}
.tui-table_layout_fixed {
  table-layout: fixed;
}
.tui-table__tr {
  transition-property: background;
  transition-duration: var(--tui-duration, 300ms);
  transition-timing-function: ease-in-out;
  outline: none;
}
.tui-table__tr:not(.tui-table__tr_hover_disabled):hover {
  background: var(--tui-background-base-alt);
}
.tui-table__tr:not(.tui-table__tr_border_none) {
  border-block-end: 1px solid var(--tui-border-normal);
}
.tui-table__tr_border_top {
  border-block-start: 1px solid var(--tui-border-normal);
}
.tui-table__tr_cursor_pointer {
  cursor: pointer;
}
.tui-table__th {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font: var(--tui-font-text-s);
  padding: 0.5rem 1rem;
  vertical-align: middle;
  block-size: 2.5rem;
  color: var(--tui-text-secondary);
  background: inherit;
}
.tui-table__th_font-size_l,
.tui-table_font-size_l .tui-table__th {
  font: var(--tui-font-text-m);
}
.tui-table__td {
  font: var(--tui-font-text-m);
  padding: 1rem 1rem 0.875rem;
  vertical-align: top;
  overflow-wrap: break-word;
  block-size: 3.4375rem;
  color: var(--tui-text-primary);
  background: inherit;
}
.tui-table__td_size_l,
.tui-table_size_l .tui-table__td {
  block-size: 4.9375rem;
}
.tui-table__td_font-size_l,
.tui-table_font-size_l .tui-table__td {
  font: var(--tui-font-text-l);
}
.tui-table__td_font-size_s,
.tui-table_font-size_s .tui-table__td {
  font: var(--tui-font-text-s);
}
.tui-table__td_align_center {
  vertical-align: middle;
}
.tui-table__td,
.tui-table__th {
  box-sizing: border-box;
  text-align: start;
}
.tui-table_size_l .tui-table__td::before,
.tui-table_size_l .tui-table__th::before {
  inline-size: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.tui-table__td_first::before,
.tui-table__th_first::before,
.tui-table__td_last::before,
.tui-table__th_last::before {
  content: '';
  position: absolute;
  top: 0;
  inline-size: 0.75rem;
  block-size: 100%;
  background: inherit;
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}
.tui-table__td_first,
.tui-table__th_first {
  position: relative;
  padding-left: 0;
  overflow: visible;
}
.tui-table__td_first::before,
.tui-table__th_first::before {
  right: 100%;
}
.tui-table__td_last,
.tui-table__th_last {
  position: relative;
  padding-right: 0;
  overflow: visible;
}
.tui-table__td_last::before,
.tui-table__th_last::before {
  left: 100%;
  transform: scaleX(-1);
}
.tui-table__td_text_center,
.tui-table__th_text_center {
  text-align: center;
}
.tui-table__td_text_right,
.tui-table__th_text_right {
  text-align: end;
}
.tui-table__td_text_overflow,
.tui-table__th_text_overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tui-table__subtext {
  font: var(--tui-font-text-s);
  margin: 0.25rem 0 0;
  color: var(--tui-text-tertiary);
}
.tui-table__sort {
  appearance: none;
  padding: 0;
  border: 0;
  background: none;
  font: inherit;
  line-height: inherit;
  text-decoration: none;
  transition-property: color;
  transition-duration: var(--tui-duration, 300ms);
  transition-timing-function: ease-in-out;
  position: relative;
  display: inline-flex;
  align-items: center;
  outline: none;
  cursor: pointer;
}
.tui-table__sort:hover {
  color: var(--tui-text-primary);
}
.tui-table__sort_active {
  color: var(--tui-text-action);
}
.tui-table__sort_active:hover {
  color: var(--tui-text-action-hover);
}
.tui-table__sort-icon {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 100%;
  margin-left: 0.125rem;
  inline-size: 1rem;
  block-size: 1rem;
  flex-shrink: 0;
  opacity: 0;
}
.tui-table__sort_active .tui-table__sort-icon,
.tui-table__sort:hover .tui-table__sort-icon {
  transition-property: transform;
  transition-duration: var(--tui-duration, 300ms);
  transition-timing-function: ease-in-out;
  opacity: 1;
}
.tui-table__sort_active.tui-table__sort_up .tui-table__sort-icon {
  transform: rotate(180deg) translateY(50%);
}
.tui-text_h1 {
  font: var(--tui-font-heading-1);
}
.tui-text_h2 {
  font: var(--tui-font-heading-2);
}
.tui-text_h3 {
  font: var(--tui-font-heading-3);
}
.tui-text_h4 {
  font: var(--tui-font-heading-4);
}
.tui-text_h5 {
  font: var(--tui-font-heading-5);
}
.tui-text_h6 {
  font: var(--tui-font-heading-6);
}
.tui-text_body-xl {
  font: var(--tui-font-text-xl);
}
.tui-text_body-l {
  font: var(--tui-font-text-l);
}
.tui-text_body-l-2 {
  font: var(--tui-font-text-ui-l);
}
.tui-text_body-m {
  font: var(--tui-font-text-m);
}
.tui-text_body-m-2 {
  font: var(--tui-font-text-ui-m);
}
.tui-text_body-s {
  font: var(--tui-font-text-s);
}
.tui-text_body-s-2 {
  font: var(--tui-font-text-ui-s);
}
.tui-text_body-xs {
  font: var(--tui-font-text-xs);
}
.tui-text_bold {
  font-weight: bold;
}
